body {
  text-align: center;
  font-family: Arial;
  margin-top: 3%;
  background: linear-gradient(1.7deg, rgb(224 75 5) 31.9%, rgb(217 4 4) 83%);
  margin-left: 20%;
  margin-right: 20%;
}
.contanier{
  width: 100%;
  }
.sectionOne{
   width: 80%;
  height: 70%;
  border: 20px solid green;
  display: flex;
 }
.img-container{
  width: 50%;
  height: 500px;
  display: flex;
}
.img-container img {
  width: 167px;
  height: 322px;
  margin: 78px 72px 13px -82px;
}
.imageOne{
   margin: 18px 320px 16px -255px;
  transform: skew(19deg, -28deg);
}
.imagetwo{
  margin: 61px -51px 9px 22px;
  transform: scaleX(1.4);

}
.imageThree{
  margin: 19px -367px 13px 44px;
}
.detailsProduct{
  width: 30%;
  margin: 141px -277px -5px -18px;
}
.nameProduct{
  font-size: 50px;
  color: cornsilk;
  margin-top: -145%;
  width: 358px;
   margin-right: 16%;
}
.price{
  font-size: 66px;
  color: white;
  transform: scale(1);
  border-radius: 25px;
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  border-left: 13px double;
  border-right: 13px double;
  /* display: flex; */
  /* border: 2px solid red; */
  padding: 33px 69px 34px 103px;
  margin: 0px 0px 0px 0px;
}
.oldPrice{
  font-size: 38px;
  color: white;
  position: relative;
  bottom: 135px;
  right: -28px;
}
.quantNumber{
  font-size: 25px;
  background: black;
  padding: 5px 12px 4px 12px;
  border: 3px;
   color: white;
  border-radius: 16px;
  position: absolute;
  top: 313px;
  font-style: italic;
  left: 825px;
}
.topCircle{
  width: 398px;
  height: 344px;
  border: 1px solid red;
  background: linear-gradient(1.7deg, rgb(43, 150, 356) 31.9%, rgb(67, 233, 184) 83%);
  margin-top: -462px;
  border-radius: 71px 29px 64px 46px;
  position: relative;
  top: 513px;
  border-bottom-width: 22px;
  border-bottom-style: groove;
  border-left-style: dotted;
  border-top-style: groove;
  border-top-width: 20px;
  border-right-style: dotted;
  right: 81px;
   }
   .topCircle2{
    width: 0px;
    height: 0px;
    border:110px solid rgb(202 171 197 / 36%);
    margin-top: -205px;
    border-radius: 125px;
    position: relative;
    top: 594px;
    right: 238px;
     }