body {
  text-align: center;
  font-family: Arial;
  /* margin-top: 3%; */
  height: 917px;
  background: linear-gradient(1.7deg, rgb(255 255 255) 31.9%, rgb(245 255 255) 83%);
}
.contanier{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 35%;
  /* border: 1px solid black; */
  }
  .newCountanier{
    width: 100%;
    height: 501px;
    /* border :1px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin-right: 250px;
    margin-bottom: 100px;
    
     }
     .sectionRight{
    width:25%;
    /* border :2px solid red; */
    background-color: #C2185B;
     }
     .sectionLeft{
    width:25%;
    border :1px solid rgb(194, 164, 164);
     }
     .sectionRight .price{
      background-color: yellow;
      color:#C2185B;
     }
     .sectionLeft .price{
      background-color: #C2185B;
      color: yellow;
     }

.sectionOne{
  width:35%;
  height: 137%;
  /* border: 1px double #b70707; */
  display: flex;
  /* margin-right: 40px;
  margin-top: 23px; */

 }
.img-container{
  width: 50%;
  margin-top: -95px; 
  }
.img-container img {
  width: 195px;
  height: 159px;
  margin: 157px -333px 13px -129px;
 }
.imageOne{
   margin: 40px 109px 16px -245px;
   /* transform: skew(19deg, -28deg); */
}
.imagetwo{
  margin:-215px 146px 9px 22px;
  transform: scaleX(.9);

}
.imageThree{
  margin: 19px -367px 13px 44px;
}
.detailsProduct{
  /* width: 0%; */
  margin:163px -277px -5px -18px;
}
.nameProduct{
  font-size: 25px;
  /* font-weight: 900; */
  color: black;
  /* font-stretch: semi-condensed; */
  font-family: system-ui;
  margin-top: -84%;
  margin-bottom: 15px;
  width: 358px;
  margin-right: 40%;
  /* font-weight: bold; */
}
.price{
  font-size: 43px;
  color: red;
  transform: scaleY(1.5);
  font-family: fantasy;
  border-radius: 25px;
  /* border-bottom: 1px dotted; */
  /* border-top: 1px dotted; */
  /* border-left: 13px double; */
  /* border-right: 13px double; */
  /* display: flex; */
  /* background: darkred; */
  /* border: 2px solid red; */
  padding: 0px 0px 0px 0px;
  margin: -397px 296px 644px 52px;
}
.oldPrice{
  font-size: 30px;
  border-radius: 12px;
  padding: 3px;
   position: relative;
  bottom: 700px;
  right: 45px;
  /* font-family: fantasy; */
  display: inline-block;
  text-decoration: none;
  
}
del:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 7px;
  width: 106%;
  height: calc(46%);
  border-top: 3px solid red;
  transform: rotate(-29deg);
  }

 
.quantNumber{
  font-size: 25px;
  background: yellow;
  padding: 5px 12px 4px 12px;
  border: 3px;
  color: darkblue;
  border-radius:50px;
  position: absolute;
  top: 445px;
  font-style: italic;
  right: 469px;
}
.topCircle{
  width: 398px;
  height: 344px;
  border: 1px solid red;
  background: linear-gradient(1.7deg, rgb(43, 150, 356) 31.9%, rgb(67, 233, 184) 83%);
  margin-top: -462px;
  border-radius: 71px 29px 64px 46px;
  position: relative;
  top: 513px;
  border-bottom-width: 22px;
  border-bottom-style: groove;
  border-left-style: dotted;
  border-top-style: groove;
  border-top-width: 20px;
  border-right-style: dotted;
  right: 81px;
   }
   .topCircle2{
    width: 0px;
    height: 0px;
    border: 110px solid rgb(202 171 197 / 36%);
    margin-top: -205px;
    border-radius: 125px;
    position: relative;
    top: 394px;
    right: 278px;
     }