body {
  /* text-align: center;
  font-family: Arial;
  margin-top: 3%;
  height: 917px;
  background: linear-gradient(1.7deg, rgb(143 183 200) 31.9%, rgb(18 178 45) 83%); */
  text-align: center;
  font-family: Arial;
  margin-top: 3%;
  background: 
  linear-gradient(180deg, rgb(255 255 255 / 0%) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgb(255 255 255 / 20%) 40%, rgba(248, 184, 139,.2) 60%, rgb(213 210 208 / 40%) 60%, rgb(241 208 184 / 40%) 80%, rgb(255 227 227 / 50%) 80%),
  linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgb(255 255 255 / 40%) 40%, rgb(255 255 255 / 50%) 40%, rgb(255 255 255 / 50%) 60%, rgb(255 255 255 / 60%) 60%, rgb(255 255 255 / 60%) 80%, rgb(255 255 255 / 70%) 80%),
  linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgb(247 255 241 / 40%) 60%, rgb(254 255 254 / 40%) 80%, rgb(255 255 255 / 60%) 80%),
  linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgb(255 255 255 / 30%) 40%, rgb(240 240 240 / 50%) 40%, rgb(255 255 255 / 50%) 60%, rgb(255 255 255 / 70%) 60%, rgb(255 255 255 / 70%) 80%, rgb(255 255 255 / 80%) 80%),
  linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgb(255 255 255 / 40%) 40%, rgba(242, 162, 232,.5) 40%, rgb(255 255 255 / 50%) 60%, rgb(255 255 255 / 60%) 60%, rgb(255 255 255 / 60%) 80%, rgb(240 240 240 / 80%) 80%),
  linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgb(255 255 255 / 40%) 20%, rgb(224 199 201 / 40%) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgb(255 255 255 / 80%) 60%, rgba(254, 163, 170,.8) 80%, rgb(255 255 255 / 90%) 80%);
  background-color: white;
  background-size: 100% 100%;
  min-height: 100%;
 
}
.contanier{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 8%;
  border: 1px solid black;
  
  }
.sectionOne{
  width:42%;
  height: 137%;
  /* border: 1px double #b70707; */
  display: flex;
  margin-right: 40px;
  margin-top: 23px;

 }
.img-container{
  width: 50%;
 
  }
.img-container img {
  width: 152px;
  height: 143px;
  margin: -11px -21px 13px -82px;
}
.imageOne{
   margin: 20px 27px 16px -245px
  /* transform: skew(19deg, -28deg); */
}
.imagetwo{
  margin:-143px 225px 9px 22px;

  /* transform: scaleX(1.4); */

}
.imageThree{
  margin: 19px -367px 13px 44px;
}
.detailsProduct{
  /* width: 0%; */
  margin: 141px -277px -5px -18px;
}
.nameProduct{
  font-size: 26px;
  /* font-weight: 900; */
  margin-top: -92%;
  width: 358px;
  font-family: system-ui;
  margin-right: 3%;
}
.price{
  font-size: 68px;
  color: white;
  transform: scale(1);
  font-family: system-ui;
  border-radius: 25px;
  /* border-bottom: 1px dotted; */
  /* border-top: 1px dotted; */
  /* border-left: 13px double; */
  /* border-right: 13px double; */
  /* display: flex; */
  background: #1e1eff;
  /* border: 2px solid red; */
  padding: 0px 19px 14px 3px;
  margin: -121px 67px 308px 138px;
}
.oldPrice{
  font-size: 42px;
  color: yellow;
  position: relative;
  bottom: 366px;
  right: -72px;
  font-family: fantasy;

}
.quantNumber{
  font-size: 25px;
  background: #4B2061;
  padding: 5px 12px 4px 12px;
  border: 3px;
  color: white;
  border-radius: 16px;
  position: absolute;
  top: 480px;
  font-style: italic;
  right: 435px;
}
.topCircle{
  width: 398px;
  height: 344px;
  border: 1px solid red;
  background: linear-gradient(1.7deg, rgb(43, 150, 356) 31.9%, rgb(67, 233, 184) 83%);
  margin-top: -462px;
  border-radius: 71px 29px 64px 46px;
  position: relative;
  top: 513px;
  border-bottom-width: 22px;
  border-bottom-style: groove;
  border-left-style: dotted;
  border-top-style: groove;
  border-top-width: 20px;
  border-right-style: dotted;
  right: 81px;
   }
   .topCircle2{
    width: 707px;
    height: 30px;
    border: 110px solid darkblue;
    margin-top: -205px;
    border-radius: 125px;
    position: relative;
    top: 154px;
    right: 80px;
     }
     .topCircle3{
      width: 370px;
      height: 0px;
      border: 80px solid yellow;
      margin-top: -205px;
      border-radius: 125px;
      position: relative;
      top: 154px;
      right: 91px;
     }
  .newCountanier{
    width: 60%;
    height: 550px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-bottom: 100px;
    
     }
 
     .header{
      width: 100%;
      height: 86px;
      background-color: darkblue;
      color: rgb(241, 245, 11);
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: skew(0deg, 6deg);
      font-size: 40px;
 
     }
     .topHeader{
      
      width: 100%;
      height: 37px;
      background-color: yellow;
       margin-bottom: 20px;
      transform: skew(-4deg, 6deg);
      }
 